@charset "ISO-8859-1";

label {
	color: white;
}

label, input, textarea, select {
	margin-bottom: 5px;
}
 img {
 margin-bottom: 10px;
 }

.card{
	margin: 10px;
	padding: 10px;
    background: linear-gradient(#668BB3,#39567D);
    width: 500px;
    height: auto;
}

.card-lg {
	width: auto;
}

.table {
	background: white;
	padding: 5px;
}

.card-header {
	color: white;
}
.card-header img{
    width: 100px;
    height: 100px;
    border-radius: 100px;

}

.btn-acc{
    border-radius: 50px;
    padding: 5px 35px;
    background: linear-gradient(to right, #f2f9fe, #d6f0fd);
    transition: background 4s;
    margin-bottom: 5px;
    color: black;
}

.btn-acc:hover{
    background: linear-gradient(to right, #c3e3fa, #a5defb);
}

/* Validation Class */
		
		
.error{
	color: red;
	margin-left: 10px;
	background-color: white;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}

/*Floating Level Form*/

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.8;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}
